In [5]:
# Dependencies
from pprint import pprint
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import time
import json

In [38]:
offset=0
df=pd.DataFrame()
time_sec=0

In [39]:
while offset < 1161542:
    try:
        query_url=f"https://data.cms.gov/data-api/v1/dataset/dc1b6500-91b9-4bc9-98ed-8b810c727e66/data?offset={offset}&size=5000"
        temp = requests.get(query_url).json()
        print(f'processing offset {offset}')
        df_temp=pd.DataFrame(temp)
        df=pd.concat([df,df_temp])
        offset+=5000
        if time_sec>9:
            time.sleep(60)
            time_sec=0
    except:
        print(f'offset {offset} error')
        time.sleep(60)
        continue

In [40]:
df.shape

(1161542, 73)

In [47]:
from sqlalchemy import create_engine
# Create database connection
# change the owner name, password and port number based on your local situation
# engine = create_engine(f'postgresql://{*database_owner}:{*password}@localhost:{*port}/housing_db')
rds_connection_string = "postgres:postgres@localhost:5432/medicare_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [48]:
df.to_sql(name = 'data2020', con = engine, if_exists = 'append', index = False)

542

In [50]:
# Confirm data has been added by querying the censes table
pd.read_sql_query('select * from data2020 LIMIT 5', con=engine)

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Gndr,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,...,Bene_CC_Dprssn_Pct,Bene_CC_Dbts_Pct,Bene_CC_Hyplpdma_Pct,Bene_CC_Hyprtnsn_Pct,Bene_CC_IHD_Pct,Bene_CC_Opo_Pct,Bene_CC_RAOA_Pct,Bene_CC_Sz_Pct,Bene_CC_Strok_Pct,Bene_Avg_Risk_Scre
0,1003000126,Enkeshafi,Ardalan,,M.D.,M,I,6410 Rockledge Dr Ste 304,,Bethesda,...,0.35,0.47,0.73,0.75,0.66,0.11,0.51,0.09,0.19,2.5028
1,1003000134,Cibull,Thomas,L,M.D.,M,I,2650 Ridge Ave,Evanston Hospital,Evanston,...,0.15,0.2,0.48,0.48,0.24,0.1,0.38,0.01,0.03,1.1124
2,1003000142,Khalil,Rashid,,M.D.,M,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,...,0.37,0.35,0.52,0.68,0.31,,0.75,,,1.6935
3,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,,Cleveland,...,0.27,,0.52,0.5,0.23,0.2,0.32,0,,0.7089
4,1003000480,Rothchild,Kevin,B,MD,M,I,12605 E 16th Ave,,Aurora,...,0.43,0.39,0.43,0.6,0.33,0.13,0.57,,,2.1137